.entrepriseArticles {
    padding: 40px 0;
    background-color: var(--secmedcle);
}

.articlegrid {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 50px;
}
