.company-banner {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: color-mix(in srgb, var(--main-green), transparent 70%); 
    border-radius: 15px;
    width: 80%;
    height: 80%;
}

.pic-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.pic-zone img {
    width: 60%;
}

.info-company {
    flex-grow: 1;
}