.category-proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 18dvh;
    gap: 1dvw;
}

.line-category {
    height: 5dvh;
    width: 2px;
    background-color: var(--main-green);
}