:root {
    --title : rgb(255, 255, 255);
    --txt : rgb(220, 220, 220);
}

.title {
    font-size: 3rem;
    color: var(--title);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notFound {
    background-color: var(--secdarker);
    min-height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.sec1 {
    width: 50dvw;
    height: 100dvh;
    display: absolute;
    flex-direction: column;
    justify-content: center;
    transform: skew(-15deg);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.sec1-a  {
    height: 100%;
    width: 100%;
    position: relative;
    transform: skew(15deg) translateX(-25%); 
    justify-content: center;
    align-items: center;
}


.sec1-a img {
    height: 100dvh;
}

.sec2 {
    width: 50dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec2-a {
    width: 55%;
}

.explication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explication p {
    margin-top: 7dvh;
    text-align: center;
}

.construction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
}

.sec2-b {
    display: flex;
    flex-direction: row;
    gap: 30%;
    width: 100%;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.git img{
    height: 2rem;
    aspect-ratio: 1/1;
}

.linkedin img{
    height: 2.5rem;
    aspect-ratio: 1/1;
}

